.intro{
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 6rem 1.5fr .6fr;
    background-color: #555555;
    color: #FFFFFF;
    padding-top: 4rem;
    justify-content: center;
    
}

.intro__logo{
    margin: 1rem;
    grid-column:1;
    grid-row:span 3;
    background-image: url(../fotos/foto1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 2%;
}

.intro__titulo{
    padding-top: 1rem;
    grid-column:2;
    grid-row: 1;
    text-align: center;
    font-family: sans-serif;
}

.intro__arma{
    grid-column:2;
    grid-row: 2;
    background-image: url(../fotos/backgroud.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom 4px left 0px;
    border-radius: 2%;
}

.intro__texto{
    grid-column:2;
    grid-row: 3;
    text-align: center;
    padding-top: 2rem;
    font-family: sans-serif;
}

@media (max-width: 1000px)  {
    .intro{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
    }
    .intro__logo {
        background-image: url(../fotos/logo-nichollas.jpg);
        background-size: contain;
        background-position: center;
        height: 20vh;
        width: 40%;
        display: block;
        align-self: center;
        box-sizing: border-box;
/*         border-radius: 50%;
 */
        
      }
      

    .intro__titulo{
        display: none;
    }

    .intro__arma{
        background-image: url(../fotos/foto2armas.jpg);
        background-size: contain;
        background-position: center;
        height: 40vh;
        width: 100%;
        display: flex;
        align-self: center;
        justify-content: center;
        box-sizing: border-box;
      }

      .intro__texto{
        height: 20vh;
        grid-column:2;
        grid-row: 3;
        text-align: center;
        padding-top: 2rem;
        font-family: sans-serif;
    }


}

